/* The switch - the box around the slider */
.theme-switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.switch {
  $width: 56px;
  $height: 26px;

  display: inline-block;
  margin-left: 0.5rem;
  position: relative;
  width: $width;
  height: $height;
  border-radius: $height / 2;
  border: 1px solid var(--theme-page-background);
  & input {
    /* Hide default HTML checkbox */
    display: none;
    &:checked + .slider {
      background-color: var(--theme-page-text);
    }
    &:checked + .slider:before {
      $shift: $width - $height;
      -webkit-transform: translateX($shift);
      -ms-transform: translateX($shift);
      transform: translateX($shift);
    }
  }
}

/* The slider */
.slider {
  $size: 20px;
  
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-page-text);
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: $size;
    width: $size;
    left: $size / 10;
    bottom: $size / 10;
    background-color: var(--theme-page-background);
    -webkit-transition: .4s;
    transition: .4s;
  }
  /* Rounded sliders */
  &.round {
    border-radius: $size * 0.75;
  }
  &.round:before {
    border-radius: $size / 2;
  }
}