@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
.error-message {
  color: red;
}
.App {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  height: 100vh;
  padding: 1rem;
  color: var(--dark-text);
  background-color: var(--body-background);
  h1 {
    color: var(--headers-light-text);
    font-weight: 100;
  }
}