.light {
  --section-background: #fecd93;
  --tracks-background: #fcd7aa;
  --body-background: #ffe2be;
  --borders-background: #b39374;
  --headers-light-text: #3f260d;
  --headers-dark-text: #614325;
  --light-text: #663d14;
  --dark-text: #b87836;
  --border: #dbaa72;
}

.dark {
  --section-background: #1d1e2e;
  --tracks-background: #13131f;
  --body-background: #171623;
  --borders-background: #14141f;
  --headers-light-text: #fff;
  --headers-dark-text: #8c8c8c;
  --light-text: #cacacf;
  --dark-text: #596269;
  --border: #2e303f;
}