.playlist {
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--border);

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.bigButton {
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;

  h1 {
    margin: auto;
    color: var(--headers-light-text);
    font-weight: 500;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }
  }
}

.playlistImage {
  margin-right: 0.3rem;
  position: relative;
  height: 6rem;
  border-radius: 5px;
  overflow: hidden;

  h3 {
    position: absolute;
    left: 3px;
    $indent: 1px;
    $blur: 5px;
    text-shadow: $indent $indent $blur white, 
                #{-$indent} #{-$indent} $blur white,
                $indent #{-$indent} $blur white,
                #{-$indent} $indent $blur white;
    color: rgb(46, 46, 46);
  }
  img {
    height: 100%;
  }
}